In [1]:
import pandas as pd
import numpy as np

In [2]:
data = dict()
data["TID"] = [1,2,3,4,5]
data["Items"] = [["Bread","Milk"],["Bread","Diapers","Beer","Eggs"],["Milk","Diapers","Beer","Cola"],["Bread","Milk","Diapers","Beer"],["Bread","Milk","Diapers","Cola"]]

In [3]:
dataset = pd.DataFrame(data = data)
dataset

   TID                         Items
0    1                 [Bread, Milk]
1    2  [Bread, Diapers, Beer, Eggs]
2    3   [Milk, Diapers, Beer, Cola]
3    4  [Bread, Milk, Diapers, Beer]
4    5  [Bread, Milk, Diapers, Cola]

<h2> Apriori Algorithm </h2>

In [5]:
#All Unique items
unique_items = list()
[[unique_items.append(i) for i in j if i not in unique_items] for j in dataset["Items"]]

[[None, None], [None, None, None], [None], [], []]

In [14]:
itemset1_support = {i:0 for i in unique_items}
itemset1_support

{'Bread': 0, 'Milk': 0, 'Diapers': 0, 'Beer': 0, 'Eggs': 0, 'Cola': 0}

In [30]:
from collections import Counter
cnt1 = Counter()
for transaction in dataset["Items"]:
    cnt1.update(transaction)

In [33]:
minsup = 3
itemset1_support = {x:y for x,y in cnt1.items() if y >= 3}
itemset1_support

{'Bread': 4, 'Milk': 4, 'Diapers': 4, 'Beer': 3}

In [35]:
res = dataset["Items"][0].sort()
res

In [43]:
sorted(dataset["Items"][1], key = lambda x : x )

['Beer', 'Bread', 'Diapers', 'Eggs']