In [2]:
import numpy as np
import pandas as pd

In [3]:
data = dict()
data["Test1"] = ["CodeA", "CodeB","CodeC","CodeA"]
data["Test2"] = ["ex","fa","go","ex"]
data["Test3"] = [45,22,64,28]
df = pd.DataFrame(data = data)
df

   Test1 Test2  Test3
0  CodeA    ex     45
1  CodeB    fa     22
2  CodeC    go     64
3  CodeA    ex     28

In [13]:
test1_unique = np.unique(np.array(df["Test1"]))
mapped_test1 = {i:j for j,i in zip(range(test1_unique.shape[0]),test1_unique)}
test1 = np.array(df["Test1"])
for j in range(test1.shape[0]):
        test1[j] = mapped_test1[test1[j]]

dissimilarity_test1 = np.zeros(shape = (test1.shape[0],test1.shape[0]))
for i in range(test1.shape[0]):
    for j in range(i+1,test1.shape[0]):
        dissimilarity_test1[j,i] = (1 - np.where((test1[i] - test[j]) == 0)


test3 = np.array(df["Test3"])
dissimilarity_test3 = np.zeros(shape = (test3.shape[0],test3.shape[0]))
for i in range(test3.shape[0]):
    for j in range(i+1,test3.shape[0]):
        dissimilarity_test3[j,i] = round(abs(test3[i] - test3[j])/(max(test3) - min(test3)),2)

In [24]:
test1_unique = np.unique(np.array(df["Test1"]))
mapped_test1 = {i:j for j,i in zip(range(test1_unique.shape[0]),test1_unique)}
test1 = np.array(df["Test1"])
for j in range(test1.shape[0]):
        test1[j] = mapped_test1[test1[j]]
test1

array([0, 1, 2, 0], dtype=object)

In [14]:
dissimilarity_test3

array([[0.  , 0.  , 0.  , 0.  ],
       [0.55, 0.  , 0.  , 0.  ],
       [0.45, 1.  , 0.  , 0.  ],
       [0.4 , 0.14, 0.86, 0.  ]])